<!DOCTYPE html>
<html>

<head>
    <title>Hand Gesture Control</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>🤖 Hand Gesture Control System</h1>

        <div class="box">

            <p class="welcome">
                Welcome to your AI-based project 🚀
            </p>

            <h2>Modules</h2>

            <ul>
                <li>✔ Hand Tracking</li>
                <li>✔ Virtual Mouse</li>
                <li>✔ Air Canvas</li>
            </ul>

            <a href="/start">
                <button>Start Project</button>
            </a>

        </div>

    </div>

</body>

</html>